body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll bars */
  }
  
  #image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  img {
    /* Image size will be set dynamically in JavaScript */
  }
  